
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="author" content="">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<title>WWG Zero-waste & No-Plastic & Vegan Map</title>

<link rel="stylesheet" href="{% static '/resources/theme/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static '/resources/theme/css/font-awesome.min.css' %}">

<!-- Main css -->
<link rel="stylesheet" href="{% static '/resources/theme/css/login.css' %}">
<link href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,700" rel="stylesheet">

     <script src="./index.js"></script>

</head>
<body>

<!-- PRE LOADER -->

<div class="preloader">
     <div class="sk-spinner sk-spinner-wordpress">
          <span class="sk-inner-circle"></span>
     </div>
</div>

<!-- Navigation section  -->

<div class="navbar navbar-default navbar-static-top" role="navigation">
     <div class="container">

          <div class="navbar-header">
               <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon icon-bar"></span>
                    <span class="icon icon-bar"></span>
                    <span class="icon icon-bar"></span>
               </button>
               <a href="../main" class="navbar-brand">
                    <img src="{% static '/resources/theme/images/WWG_1.png' %}" alt="WWG" width="70" style="max-width:100%;height:auto;image-rendering:-webkit-optimize-contrast;">
               </a>
          </div>
          <div class="collapse navbar-collapse">
               <ul class="nav navbar-nav navbar-right">
                    <li><a href="../main">About</a></li>

                    <li><a href="../map">Map</a>
                         <ul>
                              <li><a href="../map_zerowaste">Zerowaste</a> </li>
                              <li><a href="../map_vegan">Vegan</a> </li>
                         </ul>
                    </li>

                    <li><a href="{% url 'boardApp:list' %}">Board</a></li>
                    <li class="active"><a href="../login">Login</a></li>
               </ul>
          </div>

  </div>
</div>


<!-- Contact Section -->
<!-- 아래 사이트로 레이아웃 참고하기 -->
<!-- https://myhappyman.tistory.com/5 -->
<div class="container">
     <!-- MIDDLE -->
     <div class="middle">
          <div class="middle-left">
               <img src="{% static '/resources/theme/images/WWG_intro.png' %}" alt="WWG" height="1000" style="max-width:100%;height:auto;image-rendering:-webkit-optimize-contrast;">
          </div>
          {% block content %}
          <div class="middle-right">
               <div class="middle-right-1">

                    <img src="{% static '/resources/theme/images/WWG_2.png' %}" alt="WWG" width="200" style="max-width:100%;height:auto;image-rendering:-webkit-optimize-contrast;">
                    <h4 style="line-height:5;"> Greensumer들과 소통하려면 로그인하세요.</h4>

                    <form method = "POST" action = ".">
                    {% csrf_token %}
                         <div class="col-md-12 col-sm-12" style="line-height:2.3em">
                              <input type="text" class="form-control" id="user_id" placeholder="사용자 이름" name="user_id">   <!-- 이 name 값으로 정보가 전달된다 -->
                         </div>
                         <div class="col-md-12 col-sm-12" style="line-height:2.3em">
                              <input type="password"
                              class="form-control"
                              id="user_pwd"
                              placeholder="비밀번호"
                              name= "user_pwd">
                         </div>
                         <div id='register'>
                              <input type="submit" class="form-control" value=" 로그인 ">
                         </div>
                    </form>

          </div>
          {% endblock %}
          <div class="middle-right-2">
               <h4>계정이 없으신가요? <b style='color:green';><a href="../registerForm">가입</a></b></h4>
          </div>
          </div>
     </div>
     <div class="bottom">
     </span> </div>

</div>

<!-- Footer Section -->

<footer>
     <div class="container">
          <div class="row">

               <div class="col-md-3 col-sm-3">
                    <img src="{% static '/resources/theme/images/WWG_1.png' %}" alt="WWG" width="70" style="max-width:100%;height:auto;image-rendering:-webkit-optimize-contrast;">
               </div>

               <div class="col-md-4 col-sm-4">
                    <p>Environmental protection begins from the little changes we make in our daily lives.</p>
               </div>

               <div class="col-md-offset-1 col-md-4 col-sm-offset-1 col-sm-3">
                    <p><a href="https://github.com/ominiv/WWG">github address</a></p>
               </div>

               <div class="clearfix col-md-12 col-sm-12">
                    <hr>
               </div>

               <div class="col-md-6 col-sm-6">
                    <div class="footer-copyright">
                         <p>2021.November WWG | All Rights Reserved.</p>
                    </div>
               </div>

               <div class="col-md-6 col-sm-6">
                    <ul class="social-icon">
                         <li><a href="https://github.com/ominiv/WWG" class="fa fa-github"></a></li>
                    </ul>
               </div>

          </div>
     </div>
</footer>



<!-- SCRIPTS -->

<script src="{% static '/resources/theme/js/jquery.js' %}"></script>
<script src="{% static '/resources/theme/js/bootstrap.min.js' %}"></script>
<script src="{% static '/resources/theme/js/custom.js' %}"></script>

</body>
</html>